.userButton{
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
}

.userButton img{
    width: 36px;
    height: 36px;
    border: 100%;
    object-fit: cover;
}

.userButton .arrow{
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.userOptions {
    display: flex;
    flex-direction: column;
    /* position should be absolute when the parent class position is relative */
    position: absolute;

    right: 0;
    top: 120%;
    padding: 16px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.219);
    font-size: 14px;
    /* decides where the component stacks (here we need the user options to place above everything) */
    z-index: 999;
}

.userOption {
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
}

.userOption:hover {
    background-color: #f1f1f1;
    /* font color when hovered */
    color: grey;
}

.loginLink{
    font-size: 18px;
    padding: 16px;
    border-radius: 32px;
}

.loginLink:hover{
    background-color: #f1f1f1;
}

/* for screens below 475px */
@media (max-width: 475px) {
    .userButton {
        display: none;
    }
}