.leftBar{
    display: flex;
    /* make the icons position vertically along the leftbar */
    flex-direction: column;
    /* take the full height of the window */
    height: 100vh;
    /* to have space between the bottom icon and the rest of the icons */
    justify-content: space-between;
    /* to alignt the icons to the center of the leftbar */
    align-items: center;
    /* to allow the left bar to not move */
    position: sticky;
    top: 0;

    width: 72px;
    padding: 16px 0px;
    border-right: 1px solid #e9e9e9;
}

.menuIcons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.menuIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}

.menuIcon:hover{
    background-color: #f1f1f1;
    border-radius: 100%;
}

.logo{
    width: 24px;
    height: 24px;
}